SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO





CREATE PROCEDURE up_CopyGrade 
@srcFamily      CHAR(20),
@srcGrade       CHAR(20), 
@srcSubGrade    CHAR(20),
@destFamily     CHAR(20),
@destGrade      CHAR(20), 
@destSubGrade   CHAR(20),
@copyFamily     INT        = 0,            -- checkbox to copy Family data to destination
@sname          CHAR (20)  = 'ANONYMOUS',  -- calling screen name - for diagnostic log
@verbose        INT        = 0,            -- output messages to Query Analyzer output window
@status         CHAR(80)   = ' ' OUTPUT            -- result status returned to caller

AS

BEGIN
    -- set up for diagnostics 
    DECLARE @pname       CHAR(20) 
    DECLARE @diagLvl     INT
    DECLARE @lvl_LOGONLY INT
    DECLARE @SUCCESS     INT
    DECLARE @FAILURE     INT
    DECLARE @diagMsg     CHAR(80)
    DECLARE @msgPrefix   CHAR(20)
    DECLARE @returnStat  INT
    DECLARE @stat        INT

    SELECT  @pname       = 'up_CopyGrade'
    SELECT  @lvl_LOGONLY = 0  
    SELECT  @SUCCESS     = 0  
    SELECT  @FAILURE     = 1  
    SELECT  @msgPrefix   = ''
    SELECT  @diagLvl     = @lvl_LOGONLY  -- initial value
    SELECT  @returnStat  = @FAILURE
    SELECT  @Stat        = 0

    SELECT  @status = 'Not Completed'


    -------------------------------------------
    -- Check validity of given grade/family
    -------------------------------------------
    -- Check Source Family is available or not
    IF EXISTS (SELECT sgf FROM family WHERE sgf = @srcFamily)

    BEGIN
        -- Check Source Grade is available or not
        IF EXISTS (SELECT sgc, spc FROM grade WHERE sgc =@srcGrade and spc = @srcSubGrade)

        BEGIN

             -- Check Source Grade and Sub Grade are Under Source Family or not
             IF EXISTS ( SELECT sgc, spc, sgf FROM grade WHERE sgc =@srcGrade 
                            and spc = @srcSubGrade and sgf = @srcFamily)
             BEGIN 
                  SELECT @status = 'Source Family and Source Grade are existing properly'
                  SELECT @returnStat = @SUCCESS
             END
              
             ELSE

             BEGIN 
                  SELECT @status = 'Source Grade is not associated with Source Family. Please Check'
                  SELECT @returnStat = @FAILURE
             END
        END
       
        ELSE
        
        BEGIN
             SELECT @status = 'Source Grade and Sub Grade are not available in the Grade Table'
             SELECT @returnStat = @FAILURE
        END  
    END
     
    ELSE
    
    BEGIN
           SELECT @status = 'Source Family is not available'
           SELECT @returnStat = @FAILURE
    END 
   
    -- Check Destination Grade and Sub Grade is not already existng under other than destFamily
    IF ( @returnStat = @SUCCESS )
    BEGIN
       IF NOT EXISTS (SELECT sgc,spc,sgf FROM grade WHERE sgc = @destGrade and spc = @destSubGrade
                  and sgf <> @destFamily)
       BEGIN
           SELECT @status = 'Destination Family, Grade, Sub Grade are proper to copy data '
           SELECT @returnStat = @SUCCESS
       END

       ELSE

       BEGIN
           SELECT @status = 'Destination Grade is existing with other Family'
           SELECT @returnStat = @FAILURE
       END
    END
    
    
    IF ( @returnStat = @SUCCESS )
    BEGIN 
 
        -- Create a new destination family if it is not exisitng
        IF NOT EXISTS ( SELECT sgf FROM family WHERE sgf = @destFamily)
        BEGIN
     
              INSERT INTO family
                SELECT sgf = @destFamily , remark FROM family WHERE sgf = @srcFamily
        END   

        -- Create a new destination garde and sub grade if this combination is not exisitng
        IF NOT EXISTS ( SELECT sgc FROM grade WHERE sgc = @destGrade and spc = @destSubGrade)
        BEGIN
              INSERT INTO grade VALUES ( @destGrade, @destSubGrade, @destFamily )
        END   
        -----------------------------------------------------
        -- If Destination Family Does Not Exist,
        --    OR if the user specifies that we copy all the Family data too.
        -- Then:
        --    create new family by copying records.
        --    OR replace data for existing family 
        -- Else:
        --    Leave Existing Family Records ALONE.
        -----------------------------------------------------
        
        IF ( ( @copyFamily = 1 ) OR ( NOT EXISTS ( SELECT SGF FROM Grade WHERE SGF = @destFamily )) )
        BEGIN

            -------------------------------------------
            -- Copy Data for each table
            -------------------------------------------
            DECLARE @TOTPAS_Stat    INT 
            DECLARE @SETUP_Stat     INT 
            DECLARE @OPTTPAS1_Stat  INT 
            DECLARE @OPTTPAS2_Stat  INT 
            DECLARE @LOOKUP1_Stat   INT 
            DECLARE @LOOKUP2_Stat   INT 
            DECLARE @MISC1_Stat     INT 
            DECLARE @MISC2_Stat     INT 
            DECLARE @ASU_Stat       INT 
            DECLARE @ASCtl_Stat     INT 
            DECLARE @ZLF_Stat       INT 
            DECLARE @ZLG_Stat       INT 
            DECLARE @ZN_Stat        INT 

            EXEC @TOTPAS_Stat   = up_CopyTOTPAS    @srcFamily, @destFamily, @sname, @verbose
            EXEC @SETUP_Stat    = up_CopySETUP     @srcFamily, @destFamily, @sname, @verbose
            EXEC @OPTTPAS1_Stat = up_CopyOPTTPAS1  @srcFamily, @destFamily, @sname, @verbose
            EXEC @OPTTPAS2_Stat = up_CopyOPTTPAS2  @srcFamily, @destFamily, @sname, @verbose
            EXEC @LOOKUP1_Stat  = up_CopyLOOKUP1   @srcFamily, @destFamily, @sname, @verbose
            EXEC @LOOKUP2_Stat  = up_CopyLOOKUP2   @srcFamily, @destFamily, @sname, @verbose
            EXEC @MISC1_Stat    = up_CopyMISC1     @srcFamily, @destFamily, @sname, @verbose
            EXEC @MISC2_Stat    = up_CopyMISC2     @srcFamily, @destFamily, @sname, @verbose
            EXEC @ASU_Stat      = up_CopyASU       @srcFamily, @destFamily, @sname, @verbose
            EXEC @ASCtl_Stat    = up_CopyASCtl     @srcFamily, @destFamily, @sname, @verbose
            EXEC @ZLF_Stat      = up_CopyZLF       @srcFamily, @destFamily, @sname, @verbose
            EXEC @ZLG_Stat      = up_CopyZLG       @srcFamily, @destFamily, @sname, @verbose
            EXEC @ZN_Stat       = up_CopyZN        @srcFamily, @destFamily, @sname, @verbose

            IF ( ( @TOTPAS_Stat   = @FAILURE ) OR 
                 ( @SETUP_Stat    = @FAILURE ) OR
                 ( @OPTTPAS1_Stat = @FAILURE ) OR
                 ( @OPTTPAS2_Stat = @FAILURE ) OR
                 ( @LOOKUP1_Stat  = @FAILURE ) OR
                 ( @LOOKUP2_Stat  = @FAILURE ) OR
                 ( @MISC1_Stat    = @FAILURE ) OR
                 ( @MISC2_Stat    = @FAILURE ) OR
                 ( @ASU_Stat      = @FAILURE ) OR
                 ( @ASCtl_Stat    = @FAILURE ) OR
                 ( @ZLF_Stat      = @FAILURE ) OR
                 ( @ZLG_Stat      = @FAILURE ) OR
                 ( @ZN_Stat       = @FAILURE ) )

            BEGIN 
            
                -- ROLL BACK ANY SUCCESSFUL INSERTS
                --
                
                -- NOTIFY CALLER
                --
                SELECT @returnStat = @FAILURE
            END
        END

        -----------------------------------------------------
        -- Copy Grade-Related Tables
        -----------------------------------------------------
        DECLARE @PASTHK_Stat       INT  
        DECLARE @ZLK_Stat          INT  

        EXEC @PASTHK_Stat    = up_CopyPASTHK      @srcGrade, @srcSubGrade, @destGrade, @destSubGrade, @sname, @verbose
        EXEC @ZLK_Stat       = up_CopyZLK         @srcGrade, @srcSubGrade, @destGrade, @destSubGrade, @sname, @verbose

        IF ( ( @PASTHK_Stat    = @FAILURE ) OR 
             ( @ZLK_Stat       = @FAILURE ) )
        BEGIN 
            SELECT @returnStat = @FAILURE
        END


    ELSE
        ------------------------
        -- Deliver diagnostics
        
        SELECT @diagMsg = @msgPrefix + ' ' + @status
        EXEC up_Diagnostic @sname, @pname, @lvl_LOGONLY, @diagMsg, @verbose  -- log_only : no msg to MsgArchiver
    END

    IF ( @returnStat = @FAILURE )
    BEGIN
        ------------------------
        -- Deliver diagnostics
        SELECT @diagMsg = @msgPrefix + ' ' + @status
        EXEC up_Diagnostic @sname, @pname, @lvl_LOGONLY, @diagMsg, @verbose  -- log_only : no msg to MsgArchiver
    END

SELECT @status = 'DID THE WORK'

RETURN 0  -- return 0 for success or non-zero for ERROR - in both cases model uty will display @status contents.

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

