SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE up_DeleteGrade
@srcFamily      CHAR(20),
@srcGrade       CHAR(20),
@srcSubGrade    CHAR(20),
@sname          CHAR (20)  = 'ANONYMOUS',  -- calling screen name - for diagnostic log
@verbose        INT        = 0,            -- output messages to Query Analyzer output window
@status         CHAR(80)   = ' ' OUTPUT   -- result status returned to caller

AS

BEGIN
    -- set up for diagnostics 
    DECLARE @pname       CHAR(20) 
    DECLARE @diagLvl     INT
    DECLARE @lvl_LOGONLY INT
    DECLARE @SUCCESS     INT
    DECLARE @FAILURE     INT
    DECLARE @diagMsg     CHAR(80)
    DECLARE @msgPrefix   CHAR(20)
    DECLARE @returnStat  INT
    DECLARE @stat        INT

    SELECT  @pname       = 'up_DeleteGrade'
    SELECT  @lvl_LOGONLY = 0  
    SELECT  @SUCCESS     = 0  
    SELECT  @FAILURE     = 1  
    SELECT  @msgPrefix   = ''
    SELECT  @diagLvl     = @lvl_LOGONLY  -- initial value
    SELECT  @returnStat  = @FAILURE
    SELECT  @Stat        = 0

    -------------------------------------------
    -- Check availability of given grade
    -------------------------------------------

    IF EXISTS (SELECT sgc  FROM grade WHERE sgc =@srcGrade and spc=@srcSubGrade )

    BEGIN
        SELECT @status = 'Grade is available.'
        SELECT @returnStat = @SUCCESS
    END
     
    ELSE
    
    BEGIN
       SELECT @status = 'Given Grade is not available.'
       SELECT @returnStat = @FAILURE
    END 
   
    IF ( @returnStat = @SUCCESS )
    BEGIN 
        
        -- take backup of associate family
        DECLARE @FamilyName  CHAR(20)
        SELECT  @FamilyName = sgf FROM grade WHERE sgc = @srcGrade and spc=@srcSubGrade

        -- delete Grade
        DELETE grade WHERE sgc =@srcGrade and spc=@srcSubGrade
        SELECT @status = 'Grade Deleted.'

        -- Check for not any other grades are associated with the stored family
        IF NOT EXISTS (SELECT sgc FROM grade WHERE sgf = @FamilyName)
        BEGIN
            DELETE family WHERE sgf = @FamilyName
            SELECT @status = rtrim(@status) + ' Family also Deleted.'
        END

        ------------------------
        -- Deliver diagnostics
        SELECT @diagMsg = rtrim(@msgPrefix) + ' ' + @status
        EXEC up_Diagnostic @sname, @pname, @lvl_LOGONLY, @diagMsg, @verbose  -- log_only : no msg to MsgArchiver
    END

    IF ( @returnStat = @FAILURE )
    BEGIN
        ------------------------
        -- Deliver diagnostics
        SELECT @diagMsg = rtrim(@msgPrefix) + ' ' + @status
        EXEC up_Diagnostic @sname, @pname, @lvl_LOGONLY, @diagMsg, @verbose  -- log_only : no msg to MsgArchiver
    END

RETURN @returnStat  -- return 0 for success or non-zero for ERROR - in both cases model uty will display @status contents.

END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

