SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


---------------------------------------------------------------------------------------
-- STORED PROCEDURE
--
-- NAME:         up_CopyZLK
-- DATABASE:     Model Database
-- PURPOSE:      To copy family and grade setup data from Model Tables Utility.
-- AUTHOR:       Kiran Kumar Mallipudi,  GE Toshiba Automation Systems
-- ASSUMPTIONS: 
-- EFFECTS:      Z_LK table, Updates or Insert data for destination grade by copying 
--               from source grade
--               
-- INPUT PARAMS: 
--   srcGrade      required - Source Grade
--   srcSubGrade   required - Source Sub-Grade
--   destGrade     required - Destination Grade
--   destSubGrade  required - Destination Sub-Grade
--   sname         optional - calling screen name for diaglog; defaults to ANONYMOUS 
--   verbose       optional - if 1, enables PRINT messages to Query Analyzer.
--
-- OTHER INPUTS: none
--
-- RETURNS:      Failure or Suceess
-- CREATED:      September 12, 2003
-- CHANGES:      Original
--
-------------------------------------------------------------------------------------------

CREATE PROCEDURE up_CopyZLK
@srcGrade      CHAR(20),
@srcSubGrade   CHAR(20), 
@destGrade     CHAR(20),
@destSubGrade  CHAR(20), 
@sname          CHAR (20)  = 'ANONYMOUS',  -- calling screen name - for diagnostic log
@verbose        INT        = 0,            -- output messages to Query Analyzer output window
@status         CHAR(80)   = '_' OUTPUT           -- result status returned to caller

AS

BEGIN
    -- set up for diagnostics 
    DECLARE @pname       CHAR(20) 
    DECLARE @diagLvl     INT
    DECLARE @lvl_LOGONLY INT
    DECLARE @SUCCESS     INT
    DECLARE @FAILURE    INT
    DECLARE @diagMsg     CHAR(80)
    DECLARE @msgPrefix   CHAR(20)
    DECLARE @returnStat  INT

    

    SELECT  @pname       = 'up_CopyZLK'
    SELECT  @lvl_LOGONLY = 0  
    SELECT  @SUCCESS     = 0  
    SELECT  @FAILURE     = 1  
    SELECT  @msgPrefix   = ''
    SELECT  @diagLvl     = @lvl_LOGONLY  -- initial value
    SELECT  @returnStat  = @FAILURE
 
    IF ( @verbose = 0 ) SET nocount ON
    
    -- Check for Source Family is available or not in main table and in sub tables
    IF NOT EXISTS ( SELECT SGC FROM Z_LK WHERE SGC = @srcGrade and SPC = @srcSubGrade) or NOT EXISTS ( SELECT SGC FROM Z_LK_2D WHERE SGC = @srcGrade and SPC = @srcSubGrade)
    BEGIN
        SELECT @status = 'Source Grade and Sub Grade is not available in Z_LK'
        SELECT @diagMsg = @msgPrefix + ' ' + @status
        EXEC up_Diagnostic @sname, @pname, @lvl_LOGONLY, @diagMsg, @verbose  
        IF ( @verbose = 1 ) print @diagMsg  
    END
    
    ELSE

    BEGIN
         -- Copying Z_LK table

         -- select complete data of Source Grade into a temperory table
         SELECT * INTO #t_ModelTemp FROM Z_LK WHERE  SGC = @srcGrade and SPC = @srcSubGrade

         -- Update temperory table by changing SGC and SPC name to destination grade
         UPDATE #t_ModelTemp SET SGC = @destGrade , SPC = @destSubGrade

         -- Delete complete existing data of destnation grade
         -- If destination grade is new, it will not delete any records.
         DELETE Z_LK WHERE SGC = @destGrade and SPC = @destSubGrade

         -- Insert temperory table data 
         INSERT Z_LK SELECT * FROM #t_ModelTemp
        
        
         -- Copying Z_LK_2D table

         -- select complete data of Source Grade into a temperory table
         SELECT * INTO #t_ModelTemp_2d FROM Z_LK_2D WHERE SGC = @srcGrade and SPC = @srcSubGrade

         -- Update temperory table by changing SGC and SPC name to destination grade
         UPDATE #t_ModelTemp_2d SET SGC = @destGrade , SPC = @destSubGrade

         -- Delete complete existing data of destnation grade
         -- If destination grade is new, it will not delete any records.
         DELETE Z_LK_2D WHERE SGC = @destGrade and SPC = @destSubGrade

         -- Insert temperory table data 
         INSERT Z_LK_2D SELECT * FROM #t_ModelTemp_2d

        ------------------------------------------------------
        -- Deliver diagnostics
        SELECT @status = 'Copied Source Family data into Destnation family in Z_LK '
        SELECT @diagMsg = @msgPrefix + ' ' + @status
        EXEC up_Diagnostic @sname, @pname, @lvl_LOGONLY, @diagMsg, @verbose  
        IF ( @verbose = 1 ) print @diagMsg
        SELECT @returnStat = @SUCCESS

    END
    
    RETURN @returnStat
	
END


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

