SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[up_DeleteGrade]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[up_DeleteGrade]
GO

CREATE PROCEDURE [dbo].[up_DeleteGrade] 
@srcFamily                 CHAR(20),
@srcGrade                  CHAR(20), 
@srcSubGrade            CHAR(20),
@status                        CHAR(80) OUTPUT

AS

select @status = 'WORKED'

RETURN 0
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

